<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Каталог
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()">
        <ion-icon name="cart" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="goToRazlivPage()">
          <img src="./assets/img/razliv.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Разливные напитки</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="./assets/img/craft.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Бутылочное пиво</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="./assets/img/sneki.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Рыба и снеки</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="./assets/img/sigarety.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Сигареты</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="./assets/img/kalyany.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Кальяны</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="./assets/img/tabak.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Табак для кальянов</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
