<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Мои Покупки
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>23.01.21</ion-card-subtitle>
      <ion-card-title>843р</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Spaten 2л</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Winston 1 шт.</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>21.09.20</ion-card-subtitle>
      <ion-card-title>1345р</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Ледяное 4л</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Кальян 1шт</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Sibera Вафли 1шт</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ИПА 2л</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
