<ion-card *ngIf="itemType === itemTypesEnum.RAZLIV">
  <ion-grid class="no-padding">
    <ion-row>
      <ion-col class="centered-row price no-padding" size="2">
        {{item.price + 'р'}}
      </ion-col>
      <ion-col class="no-padding" size="8">

        <ion-row>
          <ion-col size="10">
            <ion-row class="title">{{item.name}}</ion-row>
            <ion-row>{{item.type}}</ion-row>
          </ion-col>
          <ion-col class="centered-column" size="2">
            {{item.totalCount + item.measure}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10">
            <ion-row>{{'Алк. ' + item.alk + ', Пл. ' + item.density}}</ion-row>
            <ion-row>{{'Гор. ' + item.bitterness}}</ion-row>
          </ion-col>
          <ion-col class="centered-column" size="2">
            {{item.totalCost + 'р'}}
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="withButtons" class="centered-column no-padding" size="2">
        <ion-row (click)="addClick(item)">
          <ion-col class="centered-row square add-btn"> +</ion-col>
        </ion-row>
        <ion-row (click)="minusClick(item)">
          <ion-col class="centered-row square minus-btn"> -</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
